<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint</title>
    <script src="https://kit.fontawesome.com/44b579b210.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container header-container">
        <div class="header-nav">
            <div class="hamburg-menu"></div>
            <nav class="hamburg">
                <ul class="hamburglist">
                    <li class="hamburgitem"><a class="ham-link" href="./textbook.html">Учебник</a></li>
                    <li class="hamburgitem"><a class="ham-link" href="./stats.html">Статистика</a></li>
                    <li class="hamburgitem"><a class="ham-link" href="./dictionary.html">Словарь</a></li>
                    <li class="hamburgitem"><a class="ham-link" href="./audio-challange.html">Аудиовызов</a></li>
                    <li class="hamburgitem"><a class="ham-link" href="./sprint.html">Спринт</a></li>
                    <li class="hamburgitem"><a class="ham-link" href="./autorization.html">Вход</a> </li>
                </ul>
            </nav>
            <div class="logoheader">
                <a class="nav-link" href="./index.html"><img src="./main-assets/logo.png" class="logo"></a>
            </div>
            <div class="menu">
                <nav class="navbar">
                    <ul class="navlist">
                        <li class="navitem"><a class="nav-link" href="./textbook.html">Учебник</a></li>
                        <li class="navitem"><a class="nav-link" href="./stats.html">Статистика</a></li>
                        <li class="navitem"><a class="nav-link" href="./dictionary.html">Словарь</a></li>
                        <li class="navitem"><a class="nav-link" href="./audio-challange.html">Аудиовызов</a></li>
                        <li class="navitem"><a class="nav-link" href="./sprint.html">Спринт</a></li>
                        <li class="navitem"><a class="nav-link auth" href="./autorization.html">Вход</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </header>
    <main class="main">
        <div class="container sprint-container">
            <div class="sprint-level">

                <h3 class="title">Выберите уровень сложности игры</h3>
                <div class="sprint-level__inputs">
                    <div class="sprint-level__inputs__item">
                        <input type="radio" class="sprint-level__radio-btn" name="sprint-level" id="0" checked>
                        <label class="subtitle" for="0">Уровень 1</label>
                    </div>
                    <div class="sprint-level__inputs__item">
                        <input type="radio" class="sprint-level__radio-btn" name="sprint-level" id="1">
                        <label class="subtitle" for="1">Уровень 2</label>
                    </div>
                    <div class="sprint-level__inputs__item">
                        <input type="radio" class="sprint-level__radio-btn" name="sprint-level" id="2">
                        <label class="subtitle" for="2">Уровень 3</label>
                    </div>
                    <div class="sprint-level__inputs__item">
                        <input type="radio" class="sprint-level__radio-btn" name="sprint-level" id="3">
                        <label class="subtitle" for="3">Уровень 4</label>
                    </div>
                    <div class="sprint-level__inputs__item">
                        <input type="radio" class="sprint-level__radio-btn" name="sprint-level" id="4">
                        <label class="subtitle" for="4">Уровень 5</label>
                    </div>
                    <div class="sprint-level__inputs__item">
                        <input type="radio" class="sprint-level__radio-btn" name="sprint-level" id="5">
                        <label class="subtitle" for="5">Уровень 6</label>
                    </div>
                </div>
                <a href="./index.html"><button class="btn btn-cancel">Назад</button></a>

                <button class="btn btn-submit" id="start-sprint">Старт</button>
            </div>
            <div class="sprint-content"></div>
            <div class="sprint-result"></div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="date">
                <p>©2022 RS LANG</p>
            </div>
            <div class="github">
                <a class="github-link" href="https://github.com/Elf-Ksenia">Oksana Slipchenko</a>
                <a class="github-link" href="https://github.com/Arturstm">Artur Stamboltsyan</a>
                <a class="github-link" href="https://github.com/Michail-Konon">Michail Konon</a>
            </div>
            <div class="rss">
                <img class="RSS" src="./main-assets/rs_school_js.svg">
            </div>
        </div>
    </footer>
    <script src="./index.js"></script>
</body>

</html>