.sprint-container {
    font-family: 'Rubik', sans-serif;
}

.sprint-level {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.sprint-buttons {
    display: flex;
    gap: 20px;
}

.sprint-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 50px;
}

.sprint__word-versions-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sprint__word-version {
    cursor: pointer;
}

.sprint__sound-block i {
    cursor: pointer; 
}

@media (max-width: 480px) and (min-width: 320px) {
    .btn-submit {
        width: 100px;
    }
    .btn-cancel {
        width: 100px;
    }
    .challange__answer-img {
        width: 300px;
    }
}