<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbook</title>
    <script src="https://kit.fontawesome.com/44b579b210.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container header-container">
            <div class="header-nav">
                <div class="hamburg-menu"></div>
                <nav class="hamburg">
                    <ul class="hamburglist">
                        <li class="hamburgitem"><a class="ham-link" href="./textbook.html">Учебник</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="./components/stats/stats.html">Статистика</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="./dictionary.html">Словарь</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="./components/games/games.html">Игры</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="./components/autorization/autorization.html">Вход</a>                            </li>
                    </ul>
                </nav>
                <div class="logoheader">
                    <a class="nav-link" href="./index.html"><img src="./main-assets/logo.png" class="logo"></a>
                </div>
                <div class="menu">
                    <nav class="navbar">
                        <ul class="navlist">
                            <li class="navitem"><a class="nav-link" href="./textbook.html">Учебник</a></li>
                            <li class="navitem"><a class="nav-link" href="./components/stats/stats.html">Статистика</a></li>
                            <li class="navitem"><a class="nav-link" href="./dictionary.html">Словарь</a></li>
                            <li class="navitem"><a class="nav-link" href="./components/games/games.html">Игры</a></li>
                            <li class="navitem"><a class="nav-link auth" href="./components/autorization/autorization.html">Вход</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="group-inputs">
        <input class="group-input" type="radio" name="group-input" id="0" checked="checked">
        <label for="0">1</label>
        <input class="group-input" type="radio" name="group-input" id="1">
        <label for="1">2</label>
        <input class="group-input" type="radio" name="group-input" id="2">
        <label for="2">3</label>
        <input class="group-input" type="radio" name="group-input" id="3">
        <label for="3">4</label>
        <input class="group-input" type="radio" name="group-input" id="4">
        <label for="4">5</label>
        <input class="group-input" type="radio" name="group-input" id="5">
        <label for="5">6</label>
    </div>

    <div class="pagination">
        <button class="page" id="prev">prev</button>
        <span class="page-number">1</span>
        <button class="page" id="next">next</button>
    </div>

    <div class="content"></div>

   <script src="index.js"></script>
</body>

</html>