<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "icon" href="./main-assets/LangTripFav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <title>LangTrip</title>
</head>
<body>
    <header>
        <div class="container header-container">
            <div class="header-nav">
                <div class="hamburg-menu"></div>
                <nav class="hamburg">
                    <ul class="hamburglist">
                        <li class="hamburgitem"><a class="ham-link" href="textbook.html">Учебник</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="stats.html">Статистика</a></li>
                        <!-- <li class="hamburgitem"><a class="ham-link" href="./components/dictionary/dictionary.html">Словарь</a></li> -->
                        <li class="hamburgitem"><a class="ham-link" href="audio-challange.html">Игры</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="autorization.html">Вход</a>                            </li>
                    </ul>
                </nav>
                <div class="logoheader">
                    <a class="nav-link" href="./index.html"><img src="./main-assets/logo.png" class="logo"></a>
                </div>
                <div class="menu">
                    <nav class="navbar">
                        <ul class="navlist">
                            <li class="navitem"><a class="nav-link" href="textbook.html">Учебник</a></li>
                            <li class="navitem"><a class="nav-link" href="stats.html">Статистика</a></li>
                            <!-- <li class="navitem"><a class="nav-link" href="dictionary.html">Словарь</a></li> -->
                            <li class="navitem"><a class="nav-link" href="audio-challange.html">Игры</a></li>
                            <li class="navitem"><a class="nav-link auth" href="autorization.html">Вход</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="auth__reg">
        <form id="auth__form" action="https://rs-lang-179.herokuapp.com/users">
            <div class="auth__container">
              <h1>Регистрация</h1>
              <hr>
              <label for="user"><b>Имя пользователя</b></label>
              <input id="auth_userName" type="text" class="auth__user-input" placeholder="Имя пользователя" name="auth__user" required>
          
              <label for="email"><b>Почта</b></label>
              <input id="auth_email" type="email" class="auth__email-input" placeholder="Email" name="auth__email" required>
          
              <label for="pass"><b>Пароль</b></label>
              <input id="auth_pass" type="password" class="auth__pass-input" placeholder="Пароль" name="auth__pass" required>
          
              <hr>
          
              <button id="auth_btn_submit" type="submit" class="registerbtn">Создать аккаунт</button>
            </div>
            
            <div class="auth__container signin">
              <p>Уже зарегистрированы?<a href="#" class="toLogin">Войти</a>.</p>
            </div>
          </form>
          
    </section>

    <section class="auth__singin hide">
        <form id="log__form" action="https://rs-lang-179.herokuapp.com/users">
            <div class="auth__container">
              <h1>Вход</h1> 
              <hr>
              
              <label for="email"><b>Почта</b></label>
              <input id="log_email" type="email" class="log__email-input" placeholder="Email" name="log__email" required>
          
              <label for="pass"><b>Пароль</b></label>
              <input id="log_pass" type="password" class="log__pass-input" placeholder="Пароль" name="log__pass" required>
          
              <hr>
          
              <button type="submit-signin" class="registerbtn">Войти</button>
            </div>
            
            <div class="auth__container signin">
              <p>Перейти к <a href="#" class="toReg">Регестрации</a>.</p>
            </div>
          </form>
          
    </section>

    <section class="auth__exit-main hide">
        <div class="auth__exit">
          <div class="auth__exit-greet">Вы вошли как</div>
          <div id="auth__exit-logout" class="auth__exit-user-name">Очередной Васян</div>
          <div class="auth__exit-btns">
            <button id="auth__to-main-btn" class="auth__to-main-btn">На главную</button>
            <button id="auth__log-out-btn" class="auth__log-out-btn">Выйти</button>
          </div>
        </div>
      </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="date">
                <p>©2022 RS LANG</p>
            </div>
            <div class="github">
                <a class="github-link" href="https://github.com/Elf-Ksenia">Oksana Slipchenko</a>
                <a class="github-link" href="https://github.com/Arturstm">Artur Stamboltsyan</a>
                <a class="github-link" href="https://github.com/Michail-Konon">Michail Konon</a>
            </div>
            <div class="rss">
                <img class="RSS" src="./main-assets/rs_school_js.svg">
            </div>
        </div>
    </footer>
    <script defer src="./index.js"></script>
</body>
</html>
