<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <script src="https://kit.fontawesome.com/44b579b210.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container header-container">
            <div class="header-nav">
                <div class="hamburg-menu"></div>
                <nav class="hamburg">
                    <ul class="hamburglist">
                        <li class="hamburgitem"><a class="ham-link" href="./textbook.html">Учебник</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="./components/stats/stats.html">Статистика</a>
                        </li>
                        <li class="hamburgitem"><a class="ham-link" href="dictionary.html">Словарь</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="./audio-challange.html">Аудиовызов</a></li>
                        <li class="hamburgitem"><a class="ham-link" href="./sprint.html">Спринт</a></li>
                        <li class="hamburgitem"><a class="ham-link"
                                href="./components/autorization/autorization.html">Вход</a>
                    </ul>
                </nav>
                <div class="logoheader">
                    <a class="nav-link" href="./index.html"><img src="./main-assets/logo.png" class="logo"></a>
                </div>
                <div class="menu">
                    <nav class="navbar">
                        <ul class="navlist">
                            <li class="navitem"><a class="nav-link" href="./textbook.html">Учебник</a></li>
                            <li class="navitem"><a class="nav-link" href="./components/stats/stats.html">Статистика</a>
                            </li>
                            <li class="navitem"><a class="nav-link" href="./dictionary.html">Словарь</a></li>
                            <li class="navitem"><a class="nav-link" href="./audio-challange.html">Аудиовызов</a></li>
                            <li class="navitem"><a class="nav-link" href="./sprint.html">Спринт</a></li>
                            <li class="navitem"><a class="nav-link auth"
                                    href="./components/autorization/autorization.html">Вход</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main class="stat__main">
        <div class="container">
            <h1 class="stat__header">Статистика</h1>
            <div>
                <div>
                    <h2>Статистика по играм</h2>
                    <div class="stat__game-wrapper">
                        <div class="stat__game-container">
                            <h3 class="stat__h3">Аудиовызов</h3>
                            <div class="stat__items-container">
                                <div class="stat__game-item">
                                    <p>Новые слова</p>
                                    <span>0</span>
                                </div>
                                <div class="stat__game-item">
                                    <p>Процент правильных ответов</p>
                                    <span>0</span>
                                </div>
                                <div class="stat__game-item">
                                    <p>Самая длинная серия правильных ответов</p>
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                        <div class="stat__game-container">
                            <h3 class="stat__h3">Спринт</h3>
                            <div class="stat__items-container">
                                <div class="stat__game-item">
                                    <p>Новые слова</p>
                                    <span>0</span>
                                </div>
                                <div class="stat__game-item">
                                    <p>Процент правильных ответов</p>
                                    <span>0</span>
                                </div>
                                <div class="stat__game-item">
                                    <p>Самая длинная серия правильных ответов</p>
                                    <span>0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="stat__h3">Статистика по словам за день</h2>
                    <div class="stat__items-container">
                        <div class="stat__words-item">
                            <p>Новые слова</p>
                            <span>0</span>
                        </div>
                        <div class="stat__words-item">
                            <p>Изученные слова</p>
                            <span>0</span>
                        </div>
                        <div class="stat__words-item">
                            <p>Процент правильных ответов</p>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="date">
                <p>©2022 RS LANG</p>
            </div>
            <div class="github">
                <a class="github-link" href="https://github.com/Elf-Ksenia">Oksana Slipchenko</a>
                <a class="github-link" href="https://github.com/Arturstm">Artur Stamboltsyan</a>
                <a class="github-link" href="https://github.com/Michail-Konon">Michail Konon</a>
            </div>
            <div class="rss">
                <img class="RSS" src="./main-assets/rs_school_js.svg">
            </div>
        </div>
    </footer>
    <script src="./index.js"></script>
</body>

</html>